# Dependencias
node_modules/

# Variables de entorno
.env
.env.*

# Excepción para documentación de variables
!.env.example

# Compilación
dist/

# Certificado autofirmado para pruebas HTTPS locales
certs/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db
backend_videoconferencia/certs/
# IDE
.vscode/