# Dependencias
node_modules/

# Variables de entorno
.env
.env.*

# Excepción para documentación de variables
!.env.example

# Compilación
dist/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/